<div style="margin-left: 30px;">
    <h1> Dashboard </h1>
    <p> Hi <%= current_user.email %> </p>
</div>

  <div class="card-header">
    YOUR CURRENT BOOKINGS
    <div>
        <%= link_to "Look for more stuff", items_path %>
    </div>

  </div>

  <div class="cards" style="float: left; margin-left: 275px; margin-top: 40px;">
    <% @bookings.each do |booking|  %>
      <div class="card-item">
        <h5><%= booking.item.category %> : <%= booking.item.title %></h5>
        <h6><%= booking.item.description %>.</h6>
        <p> Booking from <%= booking.starting_date %>  to <%= booking.end_date %></p>
        <br>
        <button type="button"><%= link_to "Edit!", edit_booking_path(booking) %></button>

        <button type="button"><%= link_to "Delete Booking!", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" }  %></button>
     </div>
    <% end %>
</div>


