<div class="dashboard-container">
  <div>
    <h1> Dashboard </h1>
    <p> Hi <%= current_user.email %> </p>
  </div>
</div>


<section>
  <div class="dashboard-container">

    <div class="dashboard-header">
      YOUR CURRENT BOOKINGS
      <div>
          <%= link_to "Look for more stuff", items_path %>
      </div>
    </div>

  </div>

    <div class="cards">
      <% @bookings.each do |booking|  %>
        <div class="card-item">
          <h5><%= booking.item.category %> : <%= booking.item.title %></h5>
          <h6><%= booking.item.description %>.</h6>
          <p> Booking from <%= booking.starting_date  %>  to <%= booking.end_date %></p>
          <br>
          <button type="button"><%= link_to "Edit!", edit_booking_path(booking) %></button>
          <button type="button"><%= link_to "Review!", new_booking_review_path(booking) %></button>
          <button type="button"><%= link_to "Delete Booking!", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" }  %></button>
        </div>
      <% end %>
    </div>
  </div>
</section>




<section>
  <div class="dashboard-container">
    <div class="dashboard-header">
      MY ITEMS
      <div>
        <%= link_to "Rent out stuff", new_item_path %>
     </div>

    <div class="cards">
      <% @items.each do |item|  %>
        <div class="card-item">
          <h5><%= item.category %> : <%= item.title %></h5>
          <h6><%= item.description %>.</h6>

            <% if currently_booked(item) == true %>
              <i class="fas fa-dollar-sign not-available"> Item booked | Making $ </i>
            <% elsif currently_booked(item) == false  %>
              <i class="fas fa-circle available"> Currently not booked </i>
            <% end %>
            <br>
            <button type="button"><%= link_to "Edit!", edit_item_path(item) %></button>
            <button type="button"><%= link_to "Delete Item!", item_path(item), method: :delete, data: { confirm: "Are you sure?" }  %></button>
        </div>
      <% end %>
    </div>


    </div>
  </div>

</section>



