<div class="navbar">
  <div>
    <%= link_to root_path do %>
     <%= cl_image_tag("lockdown/logo_z18ryb") %>
    <% end %>
  </div>

  <div>
    <% if user_signed_in? %>
    <%= link_to "Rent your stuff", items_path, class: "navbar-btn" %>
    <% end %>
  </div>
  <div class="navbar-right">
    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, :method=>'delete'%>
    <% else %>
      <%= link_to "Log in", new_user_session_path %>
    <% end %>
  <div class="avatar"></div>
  </div>
</div>
