<%= render 'banner' %>

<h1>Hot Stuff | Latest Shit</h1>

<% @items.last(6).each do |item|  %>
    <img src="https://source.unsplash.com/200x100/?office,desk">
    <h4 class="card-title"><%= item.title %></h4>
    <p><%= item.description %></p>
    <p><%= item.price %></p>
    <button type="button" class="btn btn-outline-primary"><%= link_to "More Information", items_path %></button>
    <br>
<% end %>

<section class="hot-stuff">
  <h2>Hot Stuff</h2>
  <div class="cards">
  <% @items.last(6).each do |item|  %>
    <div class="card-item">
      <img src="https://source.unsplash.com/200x100/?office,desk">
      <h4><%= item.title %></h4>
      <h6><%= item.description %></h6>

      <div class="card-item-booking">
        <p><%= item.price %>€ per day</p>
        <button type="button"><%= link_to "Mine!", item_path(item) %></button>
      </div>
    </div>
  <% end %>
  </div>
</section>

<section class="categories">
  <h2>Categories</h2>
  <div class="cards">
  <% @items.last(6).each do |item|  %>
    <div class="card-lockdown">
      <img src="https://source.unsplash.com/200x100/?office,desk">
      <h4><%= item.title %></h4>
      <h6><%= item.description %></h6>

      <div class="card-lockdown-booking">
        <p><%= item.price %>€ per day</p>
        <button type="button"><%= link_to "Mine!", item_path(item) %></button>
      </div>
    </div>
  <% end %>
  </div>
</section>

