<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
  <h1>Update your item: <%=@item.title %></h1>
    <%= simple_form_for @item do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :category, as: :select, collection: Item::CATEGORIES %>
      <%= f.input :price %>
      <%= f.input :address %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.button :submit, "save", class: "btn btn-primary" %>
    <% end %>
  </div>
    <p><%= link_to 'back to your items', bookings_path %></p>
</div>
