<% @item.photos.each do |photo|  %>
<div class="banner-items" style="background-image: url('<%= cl_image_path photo.key %>'); background-size:cover; background-position: center">
  <h1><%= @item.title %></h1>
</div>
<% end %>


<div class="row" style="margin-bottom: 100px;">
  <div class="d-flex align-items-center">
    <% if @item.photos.attached? %>
      <% @item.photos.each do |photo|  %>
        <%= cl_image_tag photo.key, height: 100, width: 200, crop: :thumb, class: "thumbnails-img" %>
      <% end %>
    <% end %>
  </div>
</div>

  <!-- <div class="avatar"></div> -->

<div class="container py-15 m-10">
  <div class="row">
     <div class="col-md-6">
     <div>
        <h4><%= @item.title %></h4>
          <h6><%= @item.description %></h6>
          <p>€<%= @item.price %> per day</p>
        </div>
      </div>

    <div class="col-md-6">
      <div>
        <%= render 'bookings/booking-form' %>
      </div>
    </div>
  </div>

  <% if @reviews.exists? %>
    <div>
      <h4> Review </h4>
        <% @reviews.each do |review|  %>
          <%= review.content %></h4>
        <% end %>
        </div>
    </div>
  <% end %>


</div>


